<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="/template/panel/assets/css/codebase.min.css">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
<div id="page-container" class="main-content-boxed side-trans-enabled">
      <main id="main-container">
        <div class="hero bg-white">
          <div class="hero-inner">
            <div class="content content-full">
              <div class="py-30 text-center">
                <div class="display-3 text-danger">
                  <i class="fa fa-ban"></i> Error!
                </div>
                <h1 class="h2 font-w700 mt-30 mb-10">Sorry, we’ll fix everything soon.</h1>
                <a class="btn btn-hero btn-rounded btn-alt-secondary" href="/">
                  <i class="fa fa-arrow-left mr-10"></i> Go home
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</body>
</html>