.DS_Store
Thumbs.db

cache/**
!cache/**/.htaccess

Debug/**
!Debug/.htaccess

Files/**
!Files/.htaccess

template/compiled/**
template/panel/assets/media/icon/**

Library/configs/**
!Library/configs/
!Library/configs/**/
!Library/configs/examples/*.json

logs
Config.php